@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Mukta";
    background-color: #f5f5f5;
}
.login-form {
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column;
    gap: 20px;
}
button{
    height: 35px;
    width: 100px;
}
input{
    width: 100%;
    float: right;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #746d6d9a;
    padding:0 5px;
    font-family: "Mukta";
    font-weight: 600;
}
img{
    height: 150px;
}
button{
    height: 40px;
    width: 100px;
    border-radius: 8px;
    border: 1px solid #958f8f68;
    outline: none;
    cursor: pointer;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.btnr{
    background-color: #4A278A;
    color:#E5E9EB;
}
.btns{
    background-color: #694E9E;
}